body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;  /* Ajustable al 90% del ancho disponible */
    max-width: 400px;  /* Limita el tamaño máximo */
    min-width: 250px;  /* Limita el tamaño mínimo */
    box-sizing: border-box;  /* Incluye el padding dentro del tamaño */
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;  /* Más espacio interno para un aspecto más cómodo */
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;  /* Incluye el padding dentro del tamaño total */
}

button {
    width: 100%;
    padding: 12px;
    background-color: #b533ff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;  /* Mantiene el tamaño correcto del botón */
}

button:hover {
    background-color: #9c4dcc;  /* Cambio de color al pasar el ratón */
}
