<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes - SkillHub</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'registration/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Mensajes</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'notifications' %}">Notificaciones</a></li>
                    <li><a href="{% url 'connections' %}">Conexiones</a></li>
                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h2>Mensajes Recibidos</h2>
            <ul>
                {% for message in received_messages %}
                    <li><strong>{{ message.sender.username }}:</strong> {{ message.content }} <em>{{ message.timestamp }}</em></li>
                {% empty %}
                    <li>No tienes mensajes.</li>
                {% endfor %}
            </ul>

            <h2>Enviar un Mensaje</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.recipient_username.label_tag }} {{ form.recipient_username }}  <!-- Campo de destinatario -->
                {{ form.content.label_tag }} {{ form.content }}  <!-- Campo de contenido -->
                <button type="submit">Enviar</button>
            </form>
        </main>
    </div>

    <footer>
        <p>&copy; 2024 SKILLHUB</p>
    </footer>
</body>
</html>